<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password] {
        display: inline-block;
        width: 200px;
    }

    button {
        padding: 5px;
        margin: 10px;
    }
</style>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <h2  style="color:blue;" th:text="${success}" th:if="${success}"></h2>
    <h2 style="color:red;" th:text="${error}" th:if="${error}"></h2>
    <form  th:action="@{/registration}" method="post" th:object="${user}">
        <label>Username:</label>
        <input type="text" th:field="*{username}" /><br/>

        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>

        <label>E-mail:</label>
        <input type="text" th:field="*{email}" /><br/>

        <button type="submit">Register</button>
    </form>
    <br><br>
    <a href="/login">Click here to login</a>
</div>
</body>
</html>